name: SonarCloud Analysis

on:
  push:
    branches:
      - homologation
  pull_request:
    branches:
      - homologation

jobs:
  build:
    name: Build and Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Start Database and Redis (Docker Compose)
        run: |
          docker compose up -d
          sleep 10

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          DB_USER: admin
          DB_PASSWORD: password
          DB_URL: jdbc:postgresql://localhost:5432/wita
          REDIS_HOST: localhost
          REDIS_PORT: 6379
          REDIS_PASSWORD: ""
          JWT_SECRET: ${{secrets.JWT_SECRET}}
          MAIL_HOST: ${{secrets.MAIL_HOST}}
          MAIL_USERNAME: ${{secrets.MAIL_USERNAME}}
          MAIL_PASSWORD: ${{secrets.MAIL_PASSWORD}}
          MAIL_APP_PASSWORD: ${{secrets.MAIL_APP_PASSWORD}}
          ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
          ADMIN_PASSWORD: ${{secrets.ADMIN_PASSWORD}}
          FRONTEND_URL: ${{secrets.FRONTEND_URL}}
          BACKEND_URL: ${{secrets.BACKEND_URL}}

        run: >
          mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar 
          -Dsonar.host.url=https://sonarcloud.io 
          -Dsonar.organization=evertnrs 
          -Dsonar.projectKey=EvertnRS_wita-erp-back